/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jan-2016, 19:58:31
    Author     : jago16
*/

html body{

}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    height: 150px;
    background-color: red;


}
.menu{
    background-color: pink;
    height: 50px;
    border: 1px solid black;
}
.navbar{
    border-radius: 0px;
}
.content{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;

}
.portfolio-item  {
    
  
  
  
    
}


